* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body, html {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}
.overlay {
  background: url('images/bgimage1.jpg') no-repeat center center/cover;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}
.content {
  background-color: #ffffffe6;
  padding: 40px 30px;
  border-radius: 15px;
  max-width: 520px;
  width: 100%;
  box-shadow: 0 8px 24px rgba(0,0,0,0.15);
}
.logo {
  width: 100px;
  margin-bottom: 0px;
}
h1 {
  font-size: 2.5rem;
  color: #b71c1c;
  margin-bottom: 15px;
}
p {
  font-size: 1.1rem;
  color: #333;
  margin-bottom: 20px;
}
.contact p {
  font-size: 0.95rem;
  color: #555;
}
.social-icons {
  margin-top: 25px;
}
.social-icons a {
  color: #b71c1c;
  margin: 0 12px;
  font-size: 1.6rem;
  transition: color 0.3s;
}
.social-icons a:hover {
  color: #e53935;
}

.start-page {
  text-align: center;
  padding: 2em;
}

.start-page .btn {
  display: block;
  margin: 10px auto;
  background: #D62828;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  width: 250px;
  border-radius: 4px;
  clip-path: polygon(
    10% 50%,
    5% 0%,
    95% 0%,
    90% 50%,
    95% 100%,
    5% 100%
      );
}

.start-page .btn:hover {
  background: #a91e1e;
}
.center-header {
  text-align: center;
  padding: 1em 0;
}

.center-header img.logo {
  height: 100px;
}
.order-btn{
  margin-top: 20px;
  clip-path: polygon(
    10% 50%,
    5% 0%,
    95% 0%,
    90% 50%,
    95% 100%,
    5% 100%
      );
}
.btn {
  background: #d50000;
  color: #fff;
  padding: 12px 30px;
  border-radius: 4px;
  font-weight: bold;
  display: inline-block;
  transition: background 0.3s;
  text-decoration: none;
}

.btn:hover {
  background: #a00000;
}